container_commands:
  01_create_filebeat_dir:
    command: "mkdir -p /etc/gather2/filebeat"
  02_copy_filebeat_file:
    command: "cp conf/filebeat.yml /etc/gather2/filebeat/"
  03_create_supervisord_dir:
    command: "mkdir -p /etc/gather2/supervisord/conf.d"
  04_copy_supervisord_file:
    command: "cp conf/supervisord.conf /etc/gather2/supervisord/supervisord.conf"
  05_copy_supervisord_confs:
    command: "cp conf/supervisor.* /etc/gather2/supervisord/conf.d/"
  06_create_nginx_dir:
    command: "mkdir -p /etc/gather2/nginx"
  07_copy_nginx_file:
    command: "cp conf/nginx.gathercore.conf /etc/gather2/nginx/default"
  08_create_logstash_dir:
    command: "mkdir -p /etc/logstash"
  09_copy_logstash_file:
    command: "cp conf/logstash.conf /etc/logstash/"

